{{$content-outer}}
   <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Help me take a photo of my screen

        </span>
      </summary>     
      <div class="govuk-details__text">

        <div class="govuk-tabs" data-module="govuk-tabs">
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
              <a class="govuk-tabs__tab" href="#phone-iphone"  style="font-size: 24px;">
                iPhones
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#phone-other">
                All other phones and tablets
              </a>
            </li>
            
          </ul>
          <section class="govuk-tabs__panel" id="phone-iphone">
            <h3 class='govuk-heading-s'>Taking a photo of your screen on iPhones</h3>
            <p>Try one of these:</p>
            <ul class="govuk-list--numeber">
              <li>Press the <strong>side button</strong> and <strong>volume up</strong> at the same time. Quickly release both buttons.</li>
              <li>Press the <strong>side button</strong> and the <strong>home button</strong> at the same time. Quickly release both buttons</li>
              <li>Press the top button and the <strong>home button</strong> at the same time. Quickly release both buttons.</li>
            </ul>
            <p>The screenshot will be saved to a folder called <strong>Screenshots</strong> in your <strong>Album</strong>.</p>
            <p><a href="#">Get more help from Apple </a></p>
          </section>

          <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="phone-other">
            <h3 class='govuk-heading-s'>Taking a photo of your screen on other phones and tablets</h3>
            <p>Try this:</p>
            <ul class="govuk-list--numeber">
              <li>Hold down the <strong>power button</strong> and <strong>volume down</strong> at the same time for a few seconds.</li>
            </ul>
            <p>The screenshot should be saved in your <strong>Gallery</strong> or <strong>Pictures</strong>.</p>
            <p>If that doesn't work, try:</p>
            <ul class="govuk-list--numeber">
              <li>Holding down the <strong>power button</strong> and the <strong>home button</strong> or <strong>home key</strong> on your phone’s screen </li>
              <li>Holding down the <strong>power button</strong> and the <strong>volume up</strong> at the same time.</li>
            </ul>
            <p><a href="#"></a></p>
          </section>

          <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="phone-other">
            <p></p>
            <ul class="govuk-list--numeber">
              <li></li>
            </ul>
            <p><a href="#"></a></p>
          </section>  
        </div>
        
      </div>
    </details>








{{/content-outer}}
