{{$content-outer}}
   <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Help me take a screenshot     

        </span>
      </summary>   
      <h2 class="govuk-heading-m">How to take a screenshot on a desktop computer</h2>  
      <div class="govuk-details__text">
        <div class="govuk-tabs" data-module="govuk-tabs">
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
              <a class="govuk-tabs__tab" href="#computer-mac"  style="font-size: 24px;">
                Mac
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#computer-chromebook">
                Chromebook
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#computer-other">
                All other compters
              </a>
            </li>
            
          </ul>
          <section class="govuk-tabs__panel" id="computer-mac">
            <p>Try this:</p>
            <ul class="govuk-list--numeber">
              <li>Press the <strong>Shift</strong> key, <strong>command</strong> (or Cmd), and <strong>3</strong> </li>
              <li>The screenshot will be saved to your <strong>Desktop</strong> </li>
              <li>You can now upload it to the form </li>
            </ul>
            <p><a href="https://support.apple.com/en-us/HT201361">Get more help from Apple </a></p>
          </section>

          <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="computer-chromebook">
            <p>Try this:</p>
            <ul class="govuk-list--numeber">
              <li>Press the <strong>Ctrl</strong> key and the <strong>switch window</strong> key</li>
              <li>The screenshot will be saved to your <strong>Downloads</strong></li>
              <li>You can now upload it to the form</li>
            </ul>
            <p>If that doesn’t work, try pressing <strong>Ctrl</strong> and <strong>F5</strong>.</p>
            <p><a href="https://www.androidcentral.com/how-take-screenshot-chromebook">Get more help from Android Central</a></p>
          </section>

          <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="computer-other">
            <p>Try this:</p>
            <ul class="govuk-list--numeber">
              <li>Press the <strong>Prt Scr</strong> key (or similar) to take a copy of your screen</li>
              <li>Click into the box below</li>
              <li>Press <strong>ctrl</strong> and <strong>V</strong> to paste the image into the box</li>
            </ul>
            <p>If that doesn’t work, try one of thes:.</p>
            <ul class="govuk-list--numeber">
              <li>Pressing <strong>Prt Scr</strong> and <strong>Windows logo</strong> together</li>
              <li>Pressing <strong>Prt Scr</strong>, <strong>Windows logo</strong> and <strong>Fn</strong> together</li>
              <li>Pressing <strong>Prt Scr</strong>, <strong>Alt</strong> and <strong>Fn</strong> together</li>
            </ul>
            <p>Then paste the image into the box below.</p>
            <p>On some computers, the image may be saved to a folder called Screenshots in your Pictures. </p>
          </section>  
        </div>

        <h2 class="govuk-heading-m">How to take a screenshot on a mobile phone</h2>  
        <div class="govuk-tabs" data-module="govuk-tabs">
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
              <a class="govuk-tabs__tab" href="#phone-iphone"  style="font-size: 24px;">
                iPhones
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#phone-other">
                All other phones and tablets
              </a>
            </li>
            
          </ul>
          <section class="govuk-tabs__panel" id="phone-iphone">
            <h2 class='govuk-heading-m'>How to take a screenshot on iPhone X or later</h2>
            <p>
              Press the <strong>side button</strong> and <strong>volume up</strong> at the exact same time, then quickly release. A thumbnail should flash up on your screen if it’s worked.
            </p>
            <!-- UPDATE WITH OUR OWN IMAGE -->
            <img class="source-help" src="{{assetPath}}/images/iphone-x.png" width="100%" alt="The link appears in the bar at the top of your devices screen" />
            <p>
              The screenshot will be saved to your photos. 
            </p>

            <h2 class='govuk-heading-m'>How to take a screenshot on iPhone 8, 7, or 6</h2>
            <p>
              Press the <strong>side button</strong> and the <strong>home button</strong> at the exact same time, then quickly release. A thumbnail should flash up on your screen if it’s worked.
            </p>
            <!-- UPDATE WITH OUR OWN IMAGE -->
            <img class="source-help" src="{{assetPath}}/images/iphone-8.png" width="100%" alt="The link appears in the bar at the top of your devices screen" />
            <p>
              The screenshot will be saved to your photos. 
            </p>

            <h2 class='govuk-heading-m'>How to take a screenshot on iPhone SE, 5, or earlier</h2>
            <p>
              Press the <strong>top button</strong> and the <strong>home button</strong> at the exact same time, then quickly release. A thumbnail should flash up on your screen if it’s worked.
            </p>
            <!-- UPDATE WITH OUR OWN IMAGE -->
            <img class="source-help" src="{{assetPath}}/images/iphone-5.png" width="100%" alt="The link appears in the bar at the top of your devices screen" />
            <p>
              The screenshot will be saved to your photos. 
            </p>
            <p><a href="https://support.apple.com/en-us/HT200289">Get more help from Apple</a></p>

          </section>

          <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="phone-other">
            <h2 class='govuk-heading-s'>Taking a photo of your screen on other phones and tablets</h2>
            <p>
              Press the power button and volume down at the exact same time, then quickly release.
            </p>
            <p>
              The screenshot should be saved in your Gallery or Pictures.  
            </p>
            <p>
              If that doesn’t work, try:
            </p>
            <ul class="govuk-list--number">
              <li>Holding down the <strong>power button</strong> and the <strong>home button</strong> or <strong>home key</strong> on your phone’s screen </li>
              <li>Holding down the <strong>power button</strong> and the <strong>volume up</strong> at the same time.</li>
            </ul>
            <p><a href="#"></a></p>
          </section>

        </div>
        
      </div>
    </details>








{{/content-outer}}
