{{<partials-page}}
{{$page-content}}
    
      <div class="image-wrapper">
        <img src="{{values.image-preview}}" width="300px">
      </div>
    {{#values.image}}
      <p>{{values.image}}</p>
    {{/values.image}}
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Add another image    

        </span>
      </summary>     
      <div class="govuk-details__text">
       
        
       
      </div>
    </details>
    <p><a href="evidence-upload">No, let me choose another file</a></p>
    {{#input-submit}}correct-image{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
