{{<partials-page}}
  {{$encoding}}enctype="multipart/form-data"{{/encoding}}
  {{$page-content}}
     <p>{{#t}}pages.evidence-url.summary{{/t}}</p>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Help me find the link     

        </span>
      </summary>     
      <div class="govuk-details__text">
        <!-- <p>On a website, the link or URL appears at the top of the page. It usually starts with the website name and may be followed by other words, letters or symbols. For example, ‘facebook.com/settings?tab=blocking’</p> -->
        <p>
          If you’re on a website, the link appears in the bar at the top of the page. An example of a link might be, www.gov.uk/page/1234/content#. 
        </p>
        <img src="{{assetPath}}/images/source-help.png" width="100%" alt="" />
      </div>
    </details>

     {{#fields}}
      {{#renderField}}{{/renderField}}
    {{/fields}}

    {{#input-submit}}continue{{/input-submit}}

<!--     <div class="link-margin">
    
      <p><a href="/evidence-written">{{#t}}pages.evidence-url.link{{/t}}</a></p>
    </div> -->
  {{/page-content}}
 
{{/partials-page}}
