{{<partials-page}}
  {{$encoding}}enctype="multipart/form-data"{{/encoding}}
  {{$page-content}}
 
    <p>Details that can help our investigation:</p>
    <ul class="gouvk-list">
      <li>names of people who shared or promoted the material - these could be usernames, nicknames or a group name</li>
      <li>dates and times when material was shared </li>
    </ul>
    <br>
    {{#fields}}
      {{#renderField}}{{/renderField}}
    {{/fields}}

    {{#input-submit}}continue{{/input-submit}}

  {{/page-content}}

{{/partials-page}}
