{{<partials-page}}
  {{$encoding}}enctype="multipart/form-data"{{/encoding}}
  {{$page-content}}
     <p>{{#t}}pages.evidence-url.summary{{/t}}</p>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Help me find the link     

        </span>
      </summary>     
      <div class="govuk-details__text">
        <!-- <p>On a website, the link or URL appears at the top of the page. It usually starts with the website name and may be followed by other words, letters or symbols. For example, ‘facebook.com/settings?tab=blocking’</p> -->
        <p>You can find the link or URL at the top of the page. It starts with facebook.com and might be followed by other words, letters or symbols. For example, facebook.com/settings?tab=blocking</p>

        <p>To link to something someone has posted, click on the time of the post, for example ’18 hrs’ or ‘Yesterday at 06:52’. This will open the post and you can copy the link at the top of the page as normal.
        </p>
      </div>
    </details>

     {{#fields}}
      {{#renderField}}{{/renderField}}
    {{/fields}}

    {{#input-submit}}continue{{/input-submit}}

<!--     <div class="link-margin">
    
      <p><a href="/evidence-written">{{#t}}pages.evidence-url.link{{/t}}</a></p>
    </div> -->
  {{/page-content}}
  {{$sidebar}}
  <aside class="govuk-related-items">
    <h2>Where to find a link</h2>
    <img src="{{assetPath}}/images/source-help.svg" alt="" />
  </aside>
  {{/sidebar}}
{{/partials-page}}
