{{<partials-page}}
  {{$encoding}}enctype="multipart/form-data"{{/encoding}}
  {{$page-content}}
 
    <p>Details that can help our investigation:</p>
    <ul class="gouvk-list">
      who shared or promoted the material - these could be real names, usernames or group names
      dates and times when it was shared
      a description of what the material says or shows, if you haven’t included any evidence
      the website or platform it was shared on
      
    </ul>
    <br>
    {{#fields}}
      {{#renderField}}{{/renderField}}
    {{/fields}}

    {{#input-submit}}continue{{/input-submit}}

  {{/page-content}}

{{/partials-page}}
