{{<partials-page}}
  {{$page-content}}
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon"aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">To report a crime that's happening now, or if there's a threat to someone's life, call 999 immediately.</strong>
    </div>
    {{#markdown}}start{{/markdown}}
    <h2>Before you start</h2>
    <p>It’s helpful if you can get:</p>
    <ul>
      <li>
        a link to where you found the material <br>  
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help me find the link     
    
            </span>
          </summary>     
          <div class="govuk-details__text">
            <!-- <p>On a website, the link or URL appears at the top of the page. It usually starts with the website name and may be followed by other words, letters or symbols. For example, ‘facebook.com/settings?tab=blocking’</p> -->
            <p>If you’re on a website, the link appears in the bar at the top of the page. An example of a link is, www.gov.uk/page/1234/content#.</p>
            
            <img src="{{assetPath}}/images/source-help.png" width="100%" alt="" />
          </div>
        </details>
      </li>
      <li>screenshots or other evidence <br>
          {{>partials-help-screenshots-phone}}
      </li>
    </ul>
    <p>Your report can be in any language and you can choose not to give your name or contact details. </p>
    <br>
    
   

    {{#input-submit}}start{{/input-submit}}
  {{/page-content}}
  {{$sidebar}}
  <!-- <aside class="govuk-related-items">
    <h2>Start!</h2>
    <img src="{{assetPath}}/images/source-help.svg" alt="" />
  </aside> -->
  {{/sidebar}}
{{/partials-page}}
